<div class="card">
  <div class="card-content">
    <h4><%= state.capitalize %> Pay statment </h4>

    <% if rolls.empty? %>
      <p>There are no pay statements available at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Shifts Worked</th>
          <th>Total Hours</th>
          <th>Pay Earned</th>
          <th>Dates</th>
        </thead>
        <% rolls.each do |roll| %>
          <tr>
            <td><%= Shift.for_employee(current_user).for_past_days(7).finished.count %></td>
            <td><%= roll.hours %></td>
            <td> $ <%= roll.pay_earned.round(2) %></td>
            <td> <%= 7.days.ago.to_date.strftime("%-m/%d")%> - <%= Date.today.to_date.strftime("%-m/%d")%></td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate rolls, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>
  </div>
</div>